{% if formInfo is not empty %}
    <div id="n2goForm"><h2>{{ formInfo.formTitle | default('Anmeldeformular')}}<h2></div>
    <script id="n2g_script">
        {% if formInfo.formConfig is not empty %}
            var config = {{ formCode.formConfig }};
        {% else %}
            var defaultConfig = {"container": {"type": "div","class": "","style": ""},"row": {"type": "div","class": "","style": "margin-top: 15px;"},"columnLeft": {"type": "div","class": "","style": ""},"columnRight": {"type": "div","class": "","style": ""},"button": {"type": "button","style": "background-color: #000000;"},"label": {"type": "label","class": "","style": ""}}
        {% endif %}
        !function(e,t,n,c,r,a,i){e.Newsletter2GoTrackingObject=r,e[r]=e[r]||function(){(e[r].q=e[r].q||[]).push(arguments)},e[r].l=1*new Date,a=t.createElement(n),i=t.getElementsByTagName(n)[0],a.async=1,a.src=c,i.parentNode.insertBefore(a,i)}(window,document,"script","https://static.newsletter2go.com/utils.js","n2g");
        n2g('create' ,'{{ formInfo.formKey }}');
        {% if formInfo.formConfig is not empty %}
            n2g('subscribe:createForm', config, 'n2goForm');
        {% else %}
            n2g('subscribe:createForm', defaultConfig, 'n2goForm');
        {% endif %}
    </script>
{% endif %}
